<form class=<%= className %> >

<input type="hidden"
      name="photo_id"
      value='<%= photo_id %>'>

<input type="hidden"
      name="user_id"
      value='<%= Geofotr.CURRENT_USER_ID %>'>

<label for="body"></label>
<textarea
      name="body"
      id="body"
      cols="40"
      placeholder="<%= placeholder %>"><%= comment.escape('body') %></textarea>

<span class="submit <%= className %>"><%= buttonText %></span>
<% if (!comment.isNew()) { %>
<span class="cancel-update-comment">Cancel</span>
<% } %>
</form>
