<li class="list-group-item">
<%= photo.get('url') %><br>
caption: <%= photo.escape('caption') %><br>
<div class="buttons">
  <button class="view">View photo</button>
  <% if (Geofotr.CURRENT_USER === photo.get('user')) { %>
    <button class="edit">Edit photo</button>
    <button class="destroy">Remove photo</button>
  <% } else if (Geofotr.CURRENT_USER) { %>
    <% if (photo.get('likeId')) { %>
      <button class="unlike">Unlike</button>
    <% } else { %>
      <button class="like">Like</button>
    <% } %>

  <% } %>
  <div class="likes" style="display: inline">
  Likes: <div class="count" style="display: inline"><%= photo.get('numLikes') %></div>
  </div>
</div>
<br>

user: <a href= <%= "#users/" +photo.escape('user_id') %> ><%= photo.escape('user') %></a>
</li>
