caption: <%= photo.escape('caption') %><br>
user: <%= photo.escape('user') %><br>
latitude: <%= photo.escape('latitude') %><br>
longitude: <%= photo.escape('longitude') %><br>
photo: <%= photo.get('url') %>
<a href="#">Index</a>
