<!DOCTYPE html>
<html>
<head>
  <title>Geofotr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/navbar" %>
<% if flash[:errors] %>
  <%= flash[:errors] %>
<% end %>

<%= yield %>

<script type="text/javascript">
  Geofotr.CURRENT_USER = "<%= current_user.try(:username) %>"
  Geofotr.CURRENT_USER_ID = "<%= current_user.try(:id) %>"
</script>

<% if Rails.env.production? %>
  <% api_key = ENV["GOOGLEMAPS_KEY"] %>
<% else %>
  <% api_key = '' %>
<% end %>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?<%= api_key %>">
</script>

</body>
</html>
