<!DOCTYPE html>
<html>
<head>
  <title>Geofotr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <%= flash[:errors] %>
<% end %>

<%= yield %>

<script type="text/javascript">
  Geofotr.CURRENT_USER = "<%= current_user.try(:username) %>"
  Geofotr.CURRENT_USER_ID = "<%= current_user.try(:id) %>"
</script>

<% if Rails.env.production? %>
  <% api_key = "&key=" + ENV["GOOGLEMAPS_KEY"] %>
<% else %>
  <% api_key =   '' %>
<% end %>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=places<%= api_key %>">
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60523904-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
