<!DOCTYPE html>
<html>
<head>
  <title>Geofotr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/navbar" %>
<% if flash[:errors] %>
  <%= flash[:errors] %>
<% end %>

<%= yield %>

<script type="text/javascript">
  Geofotr.CURRENT_USER = "<%= current_user.try(:username) %>"
</script>

</body>
</html>
